@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif SC", serif;
  color: #fff;
  background-color: #000000;
  min-height: 100vh;
}

.navbar-item .nav-link {
  font-size: 18px;
}

body #myNavbar {
  border-bottom: 1px solid #222222;
  margin-bottom: 10px;
}

h1 a {
  color: #ffffff;
}

h1 a:hover {
  text-decoration: none;
  color: orange;
}

ul li a {
  color: #ffffff;
}

.mainHeading {
  display: flex;
  background: #000;
  border: 1px solid #222222;
}
.mainHeading img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.descriptionArt {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 20px;
}
.descriptionArt h4 {
  font-size: 26px;
}

.content {
  margin: 10px 0px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: #dadada;
}

.content img {
  align-self: center;
  margin: 10px 0;
}

.carousel-inner{
  margin: auto;
  width: 50%;
}


footer {
  border-top: 1px solid #222222;
  height: 70px;
  margin-top: 20px;
}

footer .container p {
  padding: 10px;
}

@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    overflow: hidden;
  }

  .mainHeading {
    border: none;
    border-bottom: 1px solid #222222;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 16px;
  }

  .mainHeading img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .content img {
    align-self: center;
    margin: 10px 0;
    width: 100%;
    height: auto;
  }

  .descriptionArt {
    margin: 0;
  }
  .descriptionArt p {
    color: grey;
    margin-top: 10px;
  }

  .carousel-inner{
    margin: auto;
    width: 100%;
  }
}